/*Desktop*/
@media (min-width: 1200px) {
  h1 {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
  }
  .ms-auto {
    margin-right: 10%;
  }
  .dropdown-item {
    font-size: small;
  }
  .grilla_box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 10%;
    margin-right: 10%;
  }
  .lista_subst {
    margin-top: 15%;
  }
  .v_blog {
    margin-top: 10%;
  }
  #carouselExampleSlidesOnly {
    margin-left: 10%;
    margin-right: 10%;
  }
}
.formulario_de_contacto {
  margin: 10%;
  justify-items: center;
}

.intro_cambio {
  margin: 10%;
}

.videos {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 10%;
  margin-right: 10%;
}

.about_us {
  margin-right: 10%;
  margin-left: 10%;
  margin-top: 5%;
}

.substitutos_mas_buscados {
  margin-left: 10%;
  margin-right: 10%;
}

.recetas_basicas_intro {
  margin: 10%;
}

.receta {
  margin: 10%;
}

.foto_recetas {
  float: left;
  width: 55%;
  margin-top: 5%;
}
.foto_recetas .imagen_receta_1 {
  width: -moz-fit-content;
  width: fit-content;
}
.foto_recetas .imagen_receta_2 {
  width: -moz-fit-content;
  width: fit-content;
}

.ingredientes {
  float: right;
  width: 35%;
  margin-top: 8%;
}

.procedimiento_1 {
  margin-top: 60%;
}

.procedimiento_2 {
  margin-top: 40%;
}

.presentacion_nutris {
  margin-left: 10%;
  margin-right: 10%;
}
.presentacion_nutris .texto_presentacion {
  padding: 10%;
}

.introduccion_activismo {
  margin-left: 10%;
  margin-right: 10%;
}
.introduccion_activismo p {
  padding: 2%;
}

.paginas_amigas {
  padding: 3%;
  margin-left: 10%;
  margin-right: 10%;
}

* {
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: "Friendly Schoolmates";
  src: url(../font/Friendly\ Schoolmates\ \(Italic\)\ Font\ by\ Situjuh\ \(7NTypes\).otf);
}
@font-face {
  font-family: "PoetsenOne_regular";
  src: url(../font/PoetsenOne-Regular.ttf);
}
@font-face {
  font-family: "Simply_Rounded";
  src: url(../font/Simply\ Rounded.ttf);
}
header {
  background-color: #CFF6CF;
  height: auto;
}
header .nav-link {
  justify-content: space-around;
  color: #edb1ed;
  font-family: "Simply_Rounded";
  text-align: right;
}
header .logo {
  width: 60px;
  padding: 10px;
}
header .navbar-nav .nav-link.active, header .navbar-nav .nav-link.show {
  color: #edb1ed;
}
header .dropdown-menu {
  --bs-dropdown-bg: #CFF6CF;
  --bs-dropdown-link-active-bg:none ;
}
header .dropdown-item {
  color: #edb1ed;
  font-family: "Simply_Rounded";
}
header .navbar-nav {
  --bs-nav-link-hover-color: #edb1ed;
}

.main_index {
  background-image: url(../img/fondo_index.webp);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 20px;
}
.main_index h1 {
  font-family: "Friendly Schoolmates";
  display: flex;
  background-color: #ecffec;
  background-position: center;
  justify-content: center;
  padding: 20px;
  border-radius: 10px;
}
.main_index .box {
  display: flex;
  justify-items: center;
  align-items: center;
  flex-direction: column;
  padding: 30px;
  margin-top: 3%;
  border-radius: 10px;
  background-color: rgba(236, 255, 236, 0.8117647059);
  font-family: "PoetsenOne_regular";
}
.main_index section h5 {
  font-family: "PoetsenOne_regular";
  text-align: center;
}
.main_index section .lista_subst li a {
  color: #ef7aef;
}
.main_index section .v_blog {
  list-style-type: none;
  text-align: left;
}
.main_index section li a {
  color: #ef7aef;
}
.main_index section .link_v_activism {
  z-index: 1;
  text-align: center;
  color: #ed5aed;
  text-decoration: none;
  background: rgba(236, 255, 236, 0.8117647059);
  padding: 5px 5px;
  border-radius: 10px;
  font-family: "Simply_Rounded";
}
.main_index .d-block {
  width: 100%;
  border-radius: 10px;
  margin-top: 5%;
}

.main_about_us {
  background-image: url(../img/fondo_about_us.webp);
  background-size: contain;
  padding: 20px;
}
.main_about_us h1 {
  font-family: "Friendly Schoolmates";
  display: flex;
  background-color: #ecffec;
  background-position: center;
  justify-content: center;
  padding: 20px;
  border-radius: 10px;
}
.main_about_us .about_us {
  display: flex;
  flex-direction: column;
  padding: 15px;
  background-color: rgba(236, 255, 236, 0.8117647059);
  border-radius: 10px;
  font-family: "Simply_Rounded";
}
.main_about_us .about_us h3 {
  font-family: "PoetsenOne_regular";
  text-align: center;
  color: #ef7aef;
}

.main_comenzar_el_cambio {
  background-image: url(../img/fondo_comenzar_el_cambio.webp);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 5%;
}
.main_comenzar_el_cambio section h1 {
  font-family: "Friendly Schoolmates";
  display: flex;
  background-color: #ecffec;
  background-position: center;
  justify-content: center;
  padding: 20px;
  border-radius: 10px;
}
.main_comenzar_el_cambio section div h3 {
  text-align: center;
  font-family: "Simply_Rounded";
  color: #ef7aef;
}
.main_comenzar_el_cambio section .intro_cambio {
  background-color: rgba(207, 229, 207, 0.5882352941);
  border-radius: 10px;
  padding: 10%;
  margin-top: 5%;
}
.main_comenzar_el_cambio section .intro_cambio p {
  display: grid;
  justify-items: center;
  -moz-column-gap: 5%;
       column-gap: 5%;
  font-family: "Simply_Rounded";
}
.main_comenzar_el_cambio section .video_cambio {
  width: 100%;
  height: 250px;
  margin-top: 5%;
  border-radius: 10px;
}

.main_contact {
  background-image: url(../img/fondo_contacto_2.webp);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 20px;
}
.main_contact h1 {
  font-family: "Friendly Schoolmates";
  display: flex;
  background-color: #ecffec;
  background-position: center;
  justify-content: center;
  padding: 20px;
  border-radius: 10px;
}
.main_contact .formulario_de_contacto {
  padding: 5%;
  background-color: rgba(236, 255, 236, 0.8117647059);
  border-radius: 10px;
}
.main_contact .form-label {
  color: #ef7aef;
  font-family: "PoetsenOne_regular";
}
.main_contact .email {
  color: #ef7aef;
  font-size: 16px;
  font-family: "PoetsenOne_regular";
}

.main_recetas_basicas {
  background-image: url(../img/fondo_recetas_basicas.webp);
  background-size: cover;
  padding: 20px;
}
.main_recetas_basicas h1 {
  font-family: "Friendly Schoolmates";
  display: flex;
  background-color: #ecffec;
  background-position: center;
  justify-content: center;
  padding: 20px;
  border-radius: 10px;
}
.main_recetas_basicas .recetas_basicas_intro {
  display: block;
  padding: 20PX;
  background-color: rgba(236, 255, 236, 0.8117647059);
  border-radius: 10px;
  background-position: center;
  font-family: "Simply_Rounded";
  margin-top: 5%;
}
.main_recetas_basicas .receta {
  display: block;
  padding: 40px;
  margin-top: 5%;
  background-color: rgba(236, 255, 236, 0.8117647059);
  border-radius: 10px;
  background-position: center;
  font-family: "Simply_Rounded";
}
.main_recetas_basicas .receta .imagen_receta_1 {
  width: 55%;
  padding: 10px;
  margin: 20px;
}
.main_recetas_basicas .receta h3 {
  color: #ef7aef;
  text-align: center;
}
.main_recetas_basicas .receta h5 {
  color: #ef7aef;
}
.main_recetas_basicas .receta .imagen_receta_2 {
  width: 90%;
  padding: 10px;
  margin: 20px;
}
.main_recetas_basicas .foto_recetas {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main_substitutos_mas_buscados {
  background-image: url(../img/fondo_substitutos_veganos.webp);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 20px;
}
.main_substitutos_mas_buscados h1 {
  font-family: "Friendly Schoolmates";
  display: flex;
  background-color: #ecffec;
  background-position: center;
  justify-content: center;
  padding: 20px;
  border-radius: 10px;
}
.main_substitutos_mas_buscados .substitutos_mas_buscados {
  font-family: "Simply_Rounded";
  background-color: rgba(236, 255, 236, 0.8117647059);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  background-position: center;
  padding: 5%;
  margin-top: 5%;
}
.main_substitutos_mas_buscados .substitutos_mas_buscados h3 {
  color: #ef7aef;
  text-align: center;
}

.main_intro_avtivismo {
  background-image: url(../img/fondo_v_activism_3.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px;
}
.main_intro_avtivismo h1 {
  font-family: "Friendly Schoolmates";
  display: flex;
  background-color: #ecffec;
  background-position: center;
  justify-content: center;
  padding: 20px;
  border-radius: 10px;
}

.introduccion_activismo {
  font-family: "Simply_Rounded";
  background-color: rgba(236, 255, 236, 0.8117647059);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-position: center;
  padding: 20px;
}
.introduccion_activismo h3 {
  color: #ef7aef;
  text-align: center;
  padding: 5%;
}

nav h3 {
  font-family: "PoetsenOne_regular";
  text-align: center;
  color: #ef7aef;
}

.paginas_amigas {
  background-color: rgba(236, 255, 236, 0.8117647059);
  border-radius: 10px;
  margin-top: 2%;
  padding: 5%;
}
.paginas_amigas .box_con_links {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  -moz-column-gap: 20px;
       column-gap: 20px;
  row-gap: 20px;
  grid-auto-flow: row;
  justify-content: space-evenly;
  padding: 10%;
}
.paginas_amigas .box_con_links .logo_paginas_amigas {
  border-radius: 10px;
  box-shadow: 0 0 20px rgb(0, 0, 0);
}

.main_v_nutris {
  background-image: url(../img/fondo_v_nutris.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px;
}
.main_v_nutris h1 {
  font-family: "Friendly Schoolmates";
  display: flex;
  background-color: #ecffec;
  background-position: center;
  justify-content: center;
  padding: 20px;
  border-radius: 10px;
}
.main_v_nutris .presentacion_nutris {
  font-family: "Simply_Rounded";
  background-color: rgba(236, 255, 236, 0.8117647059);
  border-radius: 10px;
  display: block;
  background-position: center;
  padding: 20px;
  margin-top: 5%;
}
.main_v_nutris .presentacion_nutris h3 {
  color: #ef7aef;
}
.main_v_nutris .presentacion_nutris .foto_presentacion {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10%;
}
.main_v_nutris .presentacion_nutris .foto_nutri_1 {
  width: 30%;
}
.main_v_nutris .presentacion_nutris .foto_nutri_2 {
  width: 50%;
  display: flex;
  justify-content: center;
}

footer {
  display: grid;
  justify-items: center;
  align-items: center;
  background-color: #CFE5CF;
}
footer section ul li {
  text-decoration: none;
  display: inline-flex;
  justify-content: space-around;
  padding: 0%;
}
footer section ul li .logo {
  width: 50px;
  padding: 10px;
  transition: width 0.3s ease-in-out, height 0.3s ease-in-out;
}
footer section ul li .logo:hover {
  width: 70px;
}

dl, ol, ul {
  padding-left: 0;
  margin-bottom: 0;
}/*# sourceMappingURL=style.css.map */