/*Desktop*/

@media (min-width:1200px){
    .grilla_box{
        display: flex;
        flex-direction: row;
    }
    .lista_subst{
        margin-top: 15%;
    }
    .v_blog{
        margin-top: 10%;
    }
    .main_index .banner{
        max-width: 50%;
        margin: 25%;
    }
    .formulario_de_contacto{
        margin: 15%;
        justify-items: center;
    }
    .video_cambio{
        display: flex;
        justify-content: center;
        padding: 5%;
    }
    .main_recetas_basicas .receta_1  .foto_recetas .imagen_receta_1{
        width: 250px;
    }
    .paginas_amigas h3{
        font-size: 40px;
        color: #ed17ed;
    }
}