/*Desktop*/

@media (min-width:1200px){
    h1{
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 5%;
    }
    .ms-auto{
        margin-right: 10%;
    }
    .dropdown-item{
        font-size: small;
    }
    .grilla_box{
        display: grid;
        grid-template-columns: repeat(2, 40%);
        justify-content: space-between;
        align-content: space-evenly;
        row-gap: 10%;
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 5%;
    }
    .lista_subst{
        margin-top: 15%;
    }
    #carouselExampleSlidesOnly{
        margin-left: 10%;
        margin-right: 10%;
    }
    }
    .formulario_de_contacto{
        margin: 10%;
        justify-items: center;
    }
    .intro_cambio{
        margin: 10%;
    }
    .videos{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-left: 10%;
        margin-right: 10%;
    }
    .about_us{
        margin-right: 10%;
        margin-left: 10%;
        margin-top: 5%;
    }
    .substitutos_mas_buscados{
        margin-left: 10%;
        margin-right: 10%;
    }
    .recetas_basicas_intro{
        margin: 10%;
    }
    .receta{
        margin: 10%;
    }
    .foto_recetas{
        float: left;
        width: 55%;
        margin-top: 5%;
        .imagen_receta_1{
            width: fit-content;
        }
        .imagen_receta_2{
            width: fit-content;
        }
    }
    .ingredientes{
        float: right;
        width: 35%;
        margin-top: 8%;
    }
    .procedimiento_1{
        margin-top: 60%;
    }
    .procedimiento_2{
        margin-top: 40%;
    }
    .presentacion_nutris{
        margin-left: 10%;
        margin-right: 10%;
        .texto_presentacion{
            padding: 10%;
        }
    }
    .introduccion_activismo{
        margin-left: 10%;
        margin-right: 10%;
        p{
            padding: 2%;
        }
    }
    .paginas_amigas{
        padding: 3%;
        margin-left: 10%;
        margin-right: 10%;
    }