footer{
    display: grid;
    justify-items: center;
    align-items: center;
    background-color: #CFE5CF;
    section ul li{
        text-decoration: none;
        display: inline-flex;
        justify-content: space-around;
        padding: 0%;
        .logo{
            width: 50px;
            padding: 10px;
        }
    }        
    }
    dl, ol, ul {
        padding-left: 0;
        margin-bottom: 0;
    }