header {
    background-color: #CFF6CF;
    height: auto;
    .nav-link {
        justify-content: space-around;
        color: #edb1ed;
        font-family: "Simply_Rounded"
    }
    .logo{
width: 60px;
padding: 10px;
    }
}