.main_substitutos_mas_buscados{
    background-image: url(../img/fondo_substitutos_veganos.webp);
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    padding: 20px;
    h1{
        font-family: "Friendly Schoolmates";
        display: flex;
        background-color: #ecffec;
        background-position: center;
        justify-content: center;
        padding: 20px;
        border-radius: 10px;
    }
    .substitutos_mas_buscados{
        font-family: "Simply_Rounded";
        background-color: $color_fondos;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        background-position: center;
        padding: 5%;
        margin-top: 5%;
        h3{
            color: $color_letras;
            text-align: center;
        }
    }
}