.main_contact{
    background-image: url(../img/fondo_contacto_2.webp);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 20px;
    h1{
        font-family: "Friendly Schoolmates";
        display: flex;
        background-color: #ecffec;
        background-position: center;
        justify-content: center;
        padding: 20px;
        border-radius: 10px;
    }
    .formulario_de_contacto{
        padding: 5%;
        background-color: $color_fondos;
        border-radius: 10px;
    }
    .form-label{
        color: $color_letras;
        font-family: "PoetsenOne_regular"
    }
    .email{
        color: $color_letras;
        font-size: 16px;
        font-family: "PoetsenOne_regular"
    }
    .mapa{
        margin-top: 5%;
    }
}