.main_intro_avtivismo{
        background-image: url(../img/fondo_v_activism_3.webp);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 20px;
        h1{
            font-family: "Friendly Schoolmates";
            display: flex;
            background-color: #ecffec;
            background-position: center;
            justify-content: center;
            padding: 20px;
            border-radius: 10px;
        }
    }
    .introduccion_activismo{
        font-family: "Simply_Rounded";
        background-color: $color_fondos;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-position: center;
        padding: 20px;
        h3{
            color: $color_letras;
            text-align: center;
            padding: 5%;
        }
    }
    nav{
        h3{
            font-family: "PoetsenOne_regular";
            text-align: center;
            color: $color_letras;
    }
    }
.paginas_amigas{
    background-color: $color_fondos;
    border-radius: 10px;
    margin-top: 2%;
    padding: 5%;
    .box_con_links{
    display:grid;
    grid-template-columns: repeat(3, 100px);
    column-gap: 20px;
    row-gap: 20px;
    grid-auto-flow: row;
    justify-content: space-evenly;
    padding: 10%;
    .logo_paginas_amigas{
        border-radius: 10px;
        box-shadow: 0 0 20px rgb(0, 0, 0);
    }
}
}