.main_v_nutris{
    background-image: url(../img/fondo_v_nutris.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;
    h1{
        font-family: "Friendly Schoolmates";
        display: flex;
        background-color: #ecffec;
        background-position: center;
        justify-content: center;
        padding: 20px;
        border-radius: 10px;
    }
    .presentacion_nutris{
        font-family: "Simply_Rounded";
        background-color: $color_fondos;
        border-radius: 10px;
        display: block;
        background-position: center;
        padding: 20px;
        margin-top: 5%;
        h3{
            color: $color_letras;
        }
        .foto_presentacion{
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 10%;
        }
        .foto_nutri_1{
            width: 30%;
        }
        .foto_nutri_2{
            width: 50%;
            display: flex;
            justify-content: center;
        }
    }
}