.buscador_de_recetas{
    background-image: url(../img/fondo_buscador_recetas.jpg);
    background-size: cover;
    padding: 20px;
    section{
        h5{
        margin: 10%;
        padding: 5%;
        color: $color_letras;
        font-family: "Simply_Rounded";
        background-color: $color_fondos;
        border-radius: 10px;
        text-align: center;
    }
        .conjunto_buscadores{
                            display: grid;
                            justify-items: center;
                            row-gap: 10%;
                            padding: 5%;
                            margin-bottom: 30px;
        }
    }
    .video_buscador{
        display: flex;
        padding: 5%;
        margin-top: 10px;
        justify-content: center;
    }
}