.main_substitutos_mas_buscados{
    background-image: url(../img/fondo_substitutos_veganos.jpg);
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    padding: 20px;
    .substitutos_mas_buscados{
        font-family: "Simply_Rounded";
        background-color: $color_fondos_box;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        background-position: center;
        margin: 8%;
        padding: 5%;
        h3{
            color: $color_textos;
            text-align: center;
        }
    }
}