.main_about_us{
    background-image: url(../img/fondo_about_us.webp);
    background-size: contain;
    padding: 20px;
    h1{
        font-family: "Friendly Schoolmates";
        display: flex;
        background-color: #ecffec;
        background-position: center;
        justify-content: center;
        padding: 20px;
        border-radius: 10px;
    }
    .about_us{
        display: flex;
        flex-direction: column;
        padding: 15px;
        background-color: $color_fondos;
        border-radius: 10px;
        font-family: "Simply_Rounded";
        h3{
            font-family: "PoetsenOne_regular";
            text-align: center;
            color: $color_letras;
        }
        }
    }
