.main_index{
    background-image: url(../img/fondo_index.webp);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 20px;
    h1{
        font-family: "Friendly Schoolmates";
        display: flex;
        background-color: #ecffec;
        background-position: center;
        justify-content: center;
        padding: 20px;
        border-radius: 10px;
    }
    .box{
        display: flex;
        justify-items: center;
        align-items: center;
        flex-direction: column;
        padding: 30px;
        margin-top: 3%;
        border-radius: 10px;
        background-color: $color_fondos;
        font-family: "PoetsenOne_regular";
    }
    section{
            h5{
                font-family: "PoetsenOne_regular";
                text-align: center;
            }
            .lista_subst li a{
                                color: $color_letras;
            }
            .v_blog{
                    list-style-type: none;
                    text-align: left;
            }
            li a{
                color: $color_letras;
            }
    }
    .carousel-inner{
        border-radius: 10px;
        margin-top: 5%;
    }
}